

.container-fluid a img{
    width: 150px;
    height: auto;
}

.bg-customnavbar
{
    background-color: #919191 !important;
}

.bg-footer{
    background-color: #575757 !important;
}

.container-fluid img{
    width: 250px;
    height: auto;
}

.main{
    width: 100%;
}

.custom-container{
    border: 2px solid #e3e3e3;
}

.recipe-container{
    border: 1px solid black;
}
.custom-row
{
    border: 200px solid #e3e3e3; 
}

.btn-recepten{
    height: auto;
    width: 10%;
    float: right;
}

.container-ontbijt{
    background-color: #A9EBE0;
}
.container-lunch{
    background-color: #B6DBF7;
}
.container-diner{
    background-color: #FFE1A6;
}
.container-dessert{
    background-color: #AD7A7A;
}
.container-snacks{
    background-color: #ABEAB0;
}